@{
    ViewBag.Title = "File Uploader";
}

@*<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />        
    Hello world
</div>*@
<link href="~/Content/filedrop.css" rel="stylesheet" />
<link href="~/Content/normalize.css" rel="stylesheet" />

<div class="jumbotron">
    Upload
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            @*<fieldset id="zbasic">
                    <legend>Drop a file inside…</legend>
                    <p>Or click here to <em>Browse…</em></p>

                    <p style="position: relative; z-index: 1;">
                        <input id="zbasicm" type="checkbox">

                        <label for="zbasicm">
                            Allow multiple selection in <em>Browse</em> dialog.
                        </label>
                    </p>
                </fieldset>*@

            <div id="zone14">
                <p class="legend">Drop a text file here...</p>
            </div>
        </p>
    </div>
</div>

<script src="~/Scripts/filedrop.js"></script>

<script language="javascript">
   var zone = new FileDrop('zone14', { input: false });
   zone.event('send',
       function(files) {
           files.each(function(file) {
               var slice = file.read({
                   start: 0,
                   end: file.length,
                   //func: 'cp1251',
                   //onDone: function(str) {
                   //    alert('A snippet from your CP1251-encoded file:\n' + str);
                   //},
                   onError: function(e) {
                       alert('Failed to read the file! Error: ' + e.fdError);
                   }                   
               });
               file.sendTo('/Upload?fileName=' + file.name, { method: 'PUT' });
               file.send(slice);
           });
       });
</script>